# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#IGNORE MODULES AND PACKAGE LOCK

/node_modules

# testing
/coverage

# production
/build